<div class="footer fixed-bottom d-flex justify-content-center">
  <div img class="avatar" alt="logo" src="/assets/images/logo.png">
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> by the Dev Hunters
  </div>
</div>
