
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4))" src='/assets/images/background.jpg'>
  <div class="container">
    <h1>Dev hunters connects <strong>strong devs</strong> to <strong>creative innovaters</strong>!</h1>
    <p>Get your project to life with a strong technical team</p>
    <a class="btn btn-flat" href="#">Hire now!</a>
  </div>
</div>
