<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.pixabay.com/photo/2021/08/04/13/06/software-developer-6521720_1280.jpg);">
  <div class="container">
    <div class="col-6 offset-2">
      <h1> <strong> Devs hunters </strong> </h1>
      <p>The best developers for your project</p>
      <a class="btn btn-flat" href="#">Join us now</a>
    </div>
  </div>
</div>

<div class="cards">
  <div class="card" style="width: 18rem;">

    <img src="/Users/ahmadoudia/code/ahmadia23/dev_hunters/app/assets/images/International Sales.png" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">content for user advantage as a seller</p>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">content for user advantage as a seller</p>
    </div>
  </div>


  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">content for user advantage as a seller</p>
    </div>
  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
   Join the community
  </div>
</div>
